* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}

table {
  width: 60%;
  margin: 2rem;
  max-width: 90%;
  border: 1px solid #000;
  border-collapse: separate;
}

tr,
th,
td {
  border: 0.5px solid #000;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(33, 37, 41);
  flex-wrap: wrap;
  position: relative;
  text-align: start;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.navbar__container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  padding: 0 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 90%;
  opacity: 1;
}
.navbar__logo {
  padding: 0rem 1.5rem;
  margin-right: 1rem;
  color: #fff;
  vertical-align: middle;
}
.navbar__toogler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.375rem;
  cursor: pointer;
}
.navbar__toogler-icon {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar__show {
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  font-size: 1rem;
  list-style: none;
  padding: 0.5rem 0;
  margin-bottom: 0;
  margin-top: 0;
}
.navbar__elements {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
  font-size: 1rem;
  list-style: none;
  padding: 0.5rem 0;
  margin-bottom: 0;
  margin-top: 0;
}
.navbar__element {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: 0 0;
  border: 0;
  color: rgba(255, 255, 255, 0.55);
}
.navbar__element-active {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: 0 0;
  border: 0;
  color: #fff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 3rem auto;
  width: 100%;
  padding: 0 0.75rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main__container {
  margin-top: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.main__logo {
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto;
  justify-content: center;
}
.main__image {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
  padding: 0.6em;
  margin-bottom: 1em;
  max-width: 80%;
}
.main__title {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.main__text {
  display: flex;
  opacity: 1;
  color: rgba(33, 37, 41, 0.75);
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
.main__button-primary {
  padding: 0.375rem 0.75rem;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: solid;
  background-color: rgb(144, 144, 216);
  color: #fff;
  border-color: #0d6efd;
}
.main__button-secondary {
  padding: 0.375rem 0.75rem;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: solid;
  color: #fff;
  background: #6c757d;
  border-color: #4e4f50;
}

.planner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 3rem auto;
  width: 100%;
  padding: 0 0.75rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.planner__day-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}
.planner__table-done {
  width: 2rem;
}
.planner__table-pos {
  width: 1rem;
}
.planner__table-timer-block {
  width: 2rem;
}
.planner__table-timer {
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
  background-color: transparent;
}
.planner__table-content {
  background-color: transparent;
  height: 4rem;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  vertical-align: text-bottom;
  text-align: center;
  word-break: break-all;
  white-space: pre-wrap;
  box-sizing: border-box;
  overflow-wrap: break-word;
  resize: none;
}

.ok-style {
  background-color: rgb(55, 238, 49);
}

.hidden {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar__toogler,
  .navbar__show {
    display: none;
  }
  .navbar__container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  .navbar__elements {
    display: none;
  }
  .navbar__container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 576px) {
  .navbar__container .main .planner {
    max-width: 540px;
  }
  .main__text {
    max-width: 270px;
  }
}
@media (min-width: 768px) {
  .navbar__container .main .planner {
    max-width: 720px;
  }
  .main__text {
    max-width: 360px;
  }
}
@media (min-width: 992px) {
  .navbar__container .main .planner {
    max-width: 960px;
  }
  .main__text {
    max-width: 480px;
  }
}
@media (min-width: 1200px) {
  .navbar__container .main .planner {
    max-width: 1140px;
  }
  .main__text {
    max-width: 570px;
  }
}
@media (min-width: 1400px) {
  .navbar__container .main .planner {
    max-width: 1320px;
  }
  .main__text {
    max-width: 660px;
  }
}/*# sourceMappingURL=style.css.map */